<div class="container d-flex justify-content-center ">
    <div class="row col-6">
        <h3 class="text-center">Register</h3>

        <form [formGroup]="userForm" (ngSubmit)="register()">
            <div class="mb-3">
                <label class="form-label">Nom :</label>
                <input type="email" [class.is-invalid]="userForm.controls.firstName.invalid" formControlName="firstName"
                    class="form-control">
                <small [class.d-none]="userForm.controls.firstName.valid || userForm.controls.firstName.untouched  "
                    class="text-danger"> Le nom est obligatoire</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Prénom :</label>
                <input type="email" [class.is-invalid]="userForm.controls.lastName.invalid" formControlName="lastName"
                    class="form-control">
                <small [class.d-none]="userForm.controls.lastName.valid || userForm.controls.lastName.untouched"
                    class="text-danger">Le
                    prénom est obligatoire </small>
            </div>
            <div class="mb-3">
                <label class="form-label">Email :</label>
                <input type="email" [class.is-invalid]="userForm.controls.email.invalid" formControlName="email"
                    class="form-control">
                <small [class.d-none]="userForm.controls.email.valid || userForm.controls.email.untouched"
                    class="text-danger">vous devez
                    entrez votre email </small>
            </div>
            <div class="mb-3">
                <label class="form-label">Mot de passe :</label>
                <input type="password" [class.is-invalid]="userForm.controls.password.invalid"
                    formControlName="password" class="form-control">
                <small [class.d-none]="userForm.controls.password.valid || userForm.controls.password.untouched"
                    class="text-danger">vous
                    devez
                    entrez votre mot de passe </small>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirmer Mot de passe :</label>
                <input type="password" formControlName="confirmPassword" class="form-control"
                    [class.is-invalid]="userForm.controls.confirmPassword.invalid">
                <small
                    [class.d-none]="userForm.controls.confirmPassword.valid || userForm.controls.confirmPassword.untouched"
                    class="text-danger">vous
                    devez confirmer votre mot de passe </small>
            </div>
            <div
                *ngIf="userForm.get('confirmPassword')?.errors?.['mismatch'] && userForm.get('confirmPassword')?.touched">
            </div>
            <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Ajouter </button>
            <!-- <br>
            {{userForm.value|json}}
            <br>
            {{userForm.valid}} -->
        </form>
    </div>
</div>